/* adding root with global variables  */
:root {
    --bgContainer: #FFFFFF;
    --bgMain: #F8F8F8;
    --timerText: #0033FF;
    --buttonBorder: #0066FF;
    --textPageColor: #000000;
    --textButtonHover: #FFFFFF;

}

/* Set background color and font family for the page */
body {
    font-family: Arial, sans-serif, serif;
    background-color: var(--bgMain);
}

/*  */
#high-score {
    align-items: center;
    position: relative;
}

#timer-text {
    position: relative;
    float: right;
}

/* Styling to put the 'Start Quiz!' button to the right on the container */
button#start-btn {
    float: right;
    
}

button#initials-btn {
    float: right;
}

button {
    transition-duration: 0.4s;
    border: 2px solid var(--buttonBorder);
    background-color: var(--bgContainer);
    color: var(--textPageColor);
    width: 250px;
    font-size: 16px;
    padding: 12px 28px;
    margin: 30px 10px 10px 10px;
    border-radius: 4px;
    display: block;
    
    
}

button:hover {
    border: 2px solid var(--buttonBorder);
    background-color: var(--buttonBorder);
    color: var(--textButtonHover);
    font-size: 16px;
    padding: 12px 28px;
    margin: 25px 5px 5px 5px;
    border-radius: 4px;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.51);
    display: block;
}

#statusMessageA {
    margin: 25px 10px 10px 10px;
}


#instruction-box {
    background-color: var(--bgContainer);
    font-size: 25px;
    text-align: center;
    width: 75vw;
    height: 75vh;
    padding: 50px;
    border: 5px solid gray;
    margin-left: 12vw;
    margin-top: 12vh;
    display: block;
}


#quiz-container {
    background-color: var(--bgContainer);
    font-size: 25px;
    text-align: center;
    width: 75vw;
    height: 75vh;
    padding: 50px;
    border: 5px solid gray;
    margin-left: 12vw;
    margin-top: 12vh;
    display: none;
}

#quiz-over-container {
    background-color: var(--bgContainer);
    width: 75vw;
    height: 75vh;
    padding: 50px;
    border: 5px solid gray;
    margin-left: 12vw;
    margin-top: 12vh;
    display: none;
}

#return-container { 
    background-color: var(--bgContainer);
    width: 75vw;
    height: 75vh;
    padding: 50px;
    border: 5px solid gray;
    margin-left: 12vw;
    margin-top: 12vh;
    display: none;
}

#final-score {
    font-size: 40px;
    text-align: center;
    margin: 15px 15px 15px 15px;
}

#user-initials {
    text-align: center;
    margin: 10px 10px 10px 10px;
}

