:root {
    --bgContainer: #FFFFFF;
    --bgMain: #F8F8F8;
    --timerText: #0033FF;
    --buttonBorder: #0066FF;
    --textPageColor: black;
    --textButtonHover: #FFFFFF;

}

body {
    font-family: sans-serif;
    background-color: var(--bgMain);
}

#high-score {
    align-items: center;
    position: relative;
}

#timer-text {
    position: relative;
    float: right;
}

button {
    transition-duration: 0.4s;
    border: 2px solid var(--buttonBorder);
    background-color: var(--bgContainer);
    color: var(--textPageColor);
    font-size: 16px;
    padding: 12px 28px;
    border-radius: 4px;
}

button:hover {
    border: 2px solid var(--buttonBorder);
    background-color: var(--buttonBorder);
    color: var(--textButtonHover);
    font-size: 16px;
    padding: 12px 28px;
    border-radius: 4px;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.51);
}

/* #quiz-btn{
transition-duration: 0.4s;
border: 2px solid var(--buttonBorder);
background-color: var(--bgContainer);
color: var(--textPageColor);
font-size: 16px;
width: 350px;
padding: 12px 28px;
border-radius: 4px;
}

#quiz-btn:hover {
        border: 2px solid var(--buttonBorder);
    background-color: var(--buttonBorder);
    color: var(--textButtonHover);
    font-size: 16px;
    padding: 12px 28px;
    border-radius: 4px;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.51);
} */

#instruction-box {
    background-color: var(--bgContainer);
    width: 75vw;
    height: 75vh;
    padding: 50px;
    border: 5px solid gray;
    margin-left: 12vw;
    margin-top: 12vh;
    display: block;
}

#quiz-container {
    background-color: var(--bgContainer);
    width: 75vw;
    height: 75vh;
    padding: 50px;
    border: 5px solid gray;
    margin-left: 12vw;
    margin-top: 12vh;
    display: none;
}

#high-score-container {
    background-color: var(--bgContainer);
    width: 75vw;
    height: 75vh;
    padding: 50px;
    border: 5px solid gray;
    margin-left: 12vw;
    margin-top: 12vh;
    display: none;
}

#return-container { 
    background-color: var(--bgContainer);
    width: 75vw;
    height: 75vh;
    padding: 50px;
    border: 5px solid gray;
    margin-left: 12vw;
    margin-top: 12vh;
    display: none;
}